*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(239, 238, 243);
}
.container{
    width:80%;
    margin:auto;
}
.logo img{
    width:200px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none;
}
a{
    margin:10px;
    font-size: 23px;
    color:rgb(224, 144, 24)
}
a:hover{
    color:rgba(13, 119, 114, 0.829);
    border-bottom: 2px solid rgb(143, 18, 18);
}
section{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.main img{
    width:350px;
    border-radius: 50%;
    margin:10px;
}
.ch h3{
    text-align: center;
    font-size: 40px;
    color:rgb(161, 97, 12);
    font-weight: blod;
}
.btn button{
            margin:10px;
            border: 3px solid rgb(127, 136, 8);
            padding:15px;
            border-radius: 20px;
            background-color: rgb(72, 212, 212);
            font-size: 20px;
                
}
.btn button:hover{
    background-color: rgb(109, 72, 46);
    color:antiquewhite
}
.expert{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sec{
    margin-top: 100px;
    margin-bottom: 100px;
}
.sec label{
    font-size: 30px;
    text-align: center;
    color:rgb(146, 81, 7);
    font-weight: bold;
}
.sec input{
   padding:150px;
   margin:10px;
   border:2px solid rgb(13, 26, 13);
   border-radius: 20px;
}
.sec button{
    padding:15px;
    border-radius: 10px;
    color:brown;
    font-size: 15px;
    font-weight: bold;
    background-color: bisque;
    width:30%;
    margin:auto;
    
}
.sec button:hover{
    color:bisque;
    background-color: brown;
   
}
/* start student page */
.sec2{
    border:2px solid rgb(13, 26, 13);
    border-radius: 10px;
    margin:100px 0px;
    padding:20px;
    width: 70%;
    height: 40vh;
}
.sec2 h3{
    color:rgb(58, 41, 5);
    text-align: right;
    font-size: 30px;
    border-bottom: 2px solid rgb(4, 71, 71);
    margin-bottom: 10px;
}
.sec2 li{
    font-size: 20px;
    color:brown;
    font-weight: 600;
    text-align: right;
    margin: 5px;
}
/* end student page*/
/* start page3 */
.sec3{
    border:2px solid rgb(13, 26, 13);
    border-radius: 10px;
    margin:100px 0px;
    padding:20px;
    width: 70%;
    height: 80vh;
}
.sec3 h3{
    color:rgb(58, 41, 5);
    text-align: right;
    font-size: 30px;
    border-bottom: 2px solid rgb(4, 71, 71);
    margin-bottom: 10px;
}
.sec3 li{
    font-size: 20px;
    color:brown;
    font-weight: 600;
    text-align: right;
    margin: 5px;
}
/* end page3 */